body {
    margin: 0 auto;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
}
 .nav-bar {
    width: 100%;
    height: 120px;
    position: fixed;
    background-color: black;
}

/*.navbar-fixed-top.scrolled {*/
/*  background-color: #fff !important;*/
/*  transition: background-color 200ms linear;*/
/*}*/

/*.navbar-fixed-top.scrolled .nav-link {*/
/*  color:#555;*/
/*}*/

 .logo {
    width: 255px;
    display: inline-block;
    margin: 0 auto;
    border: 10px;
    padding: 10px;
    border-radius: 50%;
}
 .left-list {
    width: 23%;
    float: left;
    padding: 40px;
    margin-top: 10px;
    margin-left: 150px;
}
 .list-item {
    width: 150px;
    height: 10px;
    float: left;
    padding: 3px;
    text-align: center;
    list-style-type: none;
}
 .list-item a {
     color: white;
     padding: 3px;
     font-size: 20px;
     font-family: 'Playfair Display', serif;
     text-decoration: none;
 }
 .right-list {
    width: 23%;
    padding: 40px;
    margin-top: 10px;
    margin-right: 150px;
    float: right;
}
.hero {
    padding: 200px 0px 50px 0px;
}
.hero-image {
    display: block;
    width: 77%;
    border-radius: 5%;
    margin: 0 auto;
    padding: 0px;
}
.mission {
    width: 100%;
    height: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    font-family: 'Noto Serif TC', serif;
}

.mission h1 {
    font-size: 40px;
    font-weight: lighter;
}

.statement {
    margin: 0px 300px;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Tajawal', sans-serif;
}

footer {
    height: 130px;
    width: 100%;
    clear: both;
    background-color: whitesmoke;
}

.social, .copyright, .by-design {
    width: 100%;
    text-align: center;
    float: left;
}

.social {
    border-top: 5px solid black;
    margin-bottom: 55px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Oxygen Mono', monospace;
    background-color: whitesmoke;
}

.social a {
    margin: 5px 0px; 
    text-decoration: none;
}

.follow {
    margin: 20px 0px;
    padding: 20px 0px;
}

.copyright {
    color: white;
    height: 150px;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lora', serif;
    background-color: black;
}

.by-design {
    padding: 25px 0px;
}

/*.by-design {*/
/*    margin: 20px 0px;*/
/*}*/

.fab {
    font-size: 33px;
}
    
.fa-facebook {
    color: black;
    margin-right: 10px;
}

.fa-instagram {
    color: black;
    margin-left: 10px;
}
